%h2.center= "\"Article titile #{@article.title}\""
.well.col-xs-8.col-xs-offset-2
  =render 'users/user', user: @article.user if @article.user
  %h4.center
    %strong Description:
    %hr
    = simple_format @article.description
    .article-actions    
      = link_to "Article list", articles_path, class: 'btn btn-xs btn-primary'
      = link_to "Edit this article", edit_article_path(@article), class: 'btn btn-xs btn-success'
      = link_to "Delete this article", article_path(@article), { method: :delete, data: { confirm: "Are you sure ?"}, class: 'btn btn-xs btn-danger' }